<%-include('fragmentos/header')%>
<div class="container">
  <h1>Disfruta del mejor contenido de Libros</h1>
  <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit, ipsum a porttitor tempus, odio nulla
    semper nibh, ut tincidunt lacus neque eleifend metus. In in tempus ante. Integer tellus ante, aliquam id arcu at,
    convallis luctus neque. Etiam semper, nunc vitae lacinia consectetur, nunc nunc interdum metus, eget cursus elit
    nisi
    nec nunc. Nullam molestie congue neque nec fringilla. Donec quis enim porta, vehicula orci quis, varius risus. Nulla
    ullamcorper, turpis quis convallis malesuada, tellus ante egestas nisl, vel porta nisi orci at lorem. Aenean ut
    tellus
    dapibus ligula vehicula rutrum ac nec quam. Vestibulum feugiat euismod rhoncus.

    Pellentesque aliquet sapien eu facilisis venenatis. Ut at libero non urna sagittis tincidunt. Maecenas nec diam
    quam.
    Aliquam non mauris posuere, fringilla odio sed, porta quam. Aenean vitae nisl lorem. Sed gravida vulputate varius.
    Aliquam erat volutpat. Sed lobortis lobortis libero, ac porttitor quam facilisis sed. Ut hendrerit dolor ut erat
    convallis consectetur.</p>
  <img
    src="https://ep01.epimg.net/cultura/imagenes/2018/08/15/babelia/1534351691_997591_1534352892_noticia_normal.jpg"
    alt="Libros" class="Responsive image mx-auto d-block">
</div>


<%-include('fragmentos/footer')%>